@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background: #f2f2f2;
}

.reactPivot {
    margin: 40px auto 0;
    width: 80%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.reactPivot table th {
    color: rgba(0, 0, 0, 0.54);
    padding: 20px 0;
    font-weight: 600;
    text-align: right;
    font-size: 12px;
    font-family: 'Roboto';
}

.reactPivot .reactPivot-dimensions select {
    margin-right: 15px;
    background-color: #dcdcdc;
    outline: none;
}

.reactPivot-results td {
    font-size: 13px;
    text-align: right;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Roboto';
}

.reactPivot-results td:nth-child(-n+2), .reactPivot-results th:nth-child(-n+2) {
    text-align: left;
}
